/* link no visitado */
a:link {
    color: darkred
}

/* link visitado */
a:visited {
    color: dimgray;
}

/* pasar crusor */
a:hover {
    color: palevioletred;
}

/* mantener click */
a:active {
    color: purple;
}

/* selector de atributos */
a[target=_blank] {
    background-color: rgb(92, 92, 15);
}

body {
    background: green url(./../../assets/img/walter.jpg) no-repeat right fixed;
}
