<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Condicionales</title>
</head>
<body>
    <script>
        const edad = Number(prompt('Ingresa tu edad:'));

        if (edad < 20) {                                // if
            console.log('Eres menor de 20 años');
        } else if (edad >= 20 && edad <= 40) {          // else- if
            console.log('Tienes entre 20 y 40 años');
        } else {                                        // else
            console.log('Eres mayor de 40');
        }

        // compuesta
        if ((edad >= 0) && (edad <= 100)) { // ejemplo en operacion aritmetica (2+2) * (10/2)
            console.log(edad + ' la edad esta en el rango de 0 a 100')
        }

        // switch
        const dayNumber = new Date().getDay();
        switch (dayNumber) {
            case 6:
                text = 'Hoy es sábado';
                break;
            case 0:
                text = 'Hoy es Domingo';
                break;
            default:
                text = 'Hoy es un día entre semana';
        }

        document.write(text);

    </script>
</body>
</html>